@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span {
  @apply text-gray-500;
}

h1,
h2 {
  @apply text-gray-600;
}

@keyframes animation-cards-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animation-cards-left {
  animation-name: animation-cards-left;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animation-cards-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.animation-cards-right {
  animation-name:  animation-cards-right;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}